.text-on-purple() {
  color: @alabaster;
  padding: 16px;
  font-size: 1.6rem;
}

.mobile-column() {
  @media @mobile {
    flex-direction: column;
  }
}

.mobile-full-width() {
  @media @mobile {
    width: 100%;
  }
}
