
// Color assignments 
@text-box: @boulder;
@text-field: @gondola;
@background:  @alabaster;
@primary: @royal-purple;
@editing-text: @light-gray;

// Colors
@boulder: #797979;
@gondola: #353535;
@alabaster: #FAFAFA;
@royal-purple: #6C46A2;
@light-gray: #C0C0C0;

// Break Points
// @mobile: ~'(max-width: 500px)';
